<h1>Welcome to my first game!</h1>
<body class="snake_game">
<!-- Lets make a simple snake game -->
<canvas id="canvas" width="450" height="450" style="border:1px solid #000000;"></canvas>
</body>
</br>
Credit for this game <a href = "http://thecodeplayer.com/walkthrough/html5-game-tutorial-make-a-snake-game-using-html5-canvas-jquery">here</a>
</br>
<%= link_to 'Back home', '/' %>